.color-grey {
  background: grey;
}

.contact-wrapper {
  background: #6f686d;
  color: #6f686d;
  height: -moz-calc(100vh - 180px); /* Firefox */
  height: -webkit-calc(100vh - 180px); /* Chrome, Safari */
  height: calc(100vh - 180px);
  width: 100%;
  div.google-map-wrapper {
    width: 80%;
    height: -moz-calc(100vh - 180px); /* Firefox */
    height: -webkit-calc(100vh - 180px); /* Chrome, Safari */
    height: calc(100vh - 180px);
    @media all and(max-width: 950px) {
      width: 100% !important;
    }
  }

  .boxes-wrapper {
    height: -moz-calc(100vh - 180px); /* Firefox */
    height: -webkit-calc(100vh - 180px); /* Chrome, Safari */
    height: calc(100vh - 180px);
    width: 20%;
    @media all and(max-width: 950px) {
      width: 100% !important;
    }
    * {
      text-align: center;
      overflow: hidden;
    }
    h2 {
      font-size: 1.4em;
    }
    .box {
      height: 33.3333333333%;
      padding: 2em 0;
      width: 100%;
    }
    .tel-box {
      border: 1px solid transparent;
      box-sizing: border-box;
      background: #b3b492;
      vertical-align: middle;
    }
    .address-box {
      border: 1px solid transparent;
      box-sizing: border-box;
      background: #fffdd0;
      vertical-align: middle;
    }

    .hour-box {
      border: 1px solid transparent;
      box-sizing: border-box;
      background: #fffff0;
      vertical-align: middle;
    }

    @media all and(max-width: 950px) {
      width: 100% !important;
      * {
        text-align: center !important;
      }
    }
  }
}
