.footer {
    margin: 0 auto;
    color: #FFFFF0;
    padding: 2em 0em 1em;
    background-color: #6F686D;
    box-shadow: 0 -4px 6px -6px #222;
    text-align: center;
    

    .signature {
         font-family: 'Courgette', cursive;
         font-size: 0.9rem;
         font-style: normal;
         color: aliceblue;
        .copy {
            vertical-align: super;
            font-size: 0.6rem;
        }

        a {
            text-decoration: none;
            color: #c9ff8a;
            transition: all 200ms ease-in-out;
            &:hover {
                opacity: 0.9;
            }
            &:visited {
                color: black;
            }
        }
    }
    

    p {
        padding: 0 2em;
    }
}