.gallery-content {
    box-sizing: border-box;
    &:after {
        content: "";
        display: table;
        clear: both;
    }

  
.ReactGridGallery {
    position: relative;
    min-height: 1px;
    width: 100%;
    overflow: hidden;
    margin: 2% auto;
    #lightboxBackdrop {
        z-index: 20;
    }


    .tile {
        position: initial !important;
        transition: all 300ms ease;
        
        &:hover {
          transform: scale(1.01);
        }
      }
}

}
