@import './App.scss';
@import './Grid.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto|Courgette');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  padding-top: 100px;
}

.wrapper {
  margin-bottom: 100px;
}

.gallery {
  .tile {
    position: initial !important;
    transition: all 300ms ease;
    &:hover {
      opacity: 0.85;
    }
  }

  .tile-description {
    text-align: center;
  }

  figure {
    max-width: 800px;
  }

}