.mobile-header { 
    position: fixed;
    top: 0;
    background-color: #263a44;
    box-shadow: 0 4px 6px -6px #222;
    max-height: 80px;
    z-index: 10;
    * {
        text-decoration: none;
    }
   
    .hide {
        display: none;
    }
    .side-menu-btn-wrapper{
    max-height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    
        }
    .side-menu-btn {
        display: flex;
        flex-direction: row-reverse;
        font-size: larger;
        outline: transparent;
        padding: 1.3em 0.6em;
        .btn-close {
            border: none;
            background: none;
            color: #009688;
            cursor: pointer;
            &:after {
                content: '✖';
            }
        }
        .btn-open {
            color: #fff;
            border: 1px solid;
            border-radius: 50px;
            border-color: #009688;
            background-color: #009688;
            display: flex;
            vertical-align: middle;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            cursor: pointer;
            padding: 0.6em 1.3em;
        }
    }

    .nav-side {
        transition: all 200ms ease;
        overflow: hidden;
        position: fixed;
        z-index: 999999999;
        text-align: center;
        width: 100%;
        top: 0;
        min-height: -webkit-fill-available;
        background-color: #263a44;
        
    }

    
    .title {
        padding: 0 1em;
        font-size: large;
        vertical-align: middle;
        color: #fff;
        text-shadow: 2px 5px 20px black;
    
            @media all and (max-width: 800px) {
                font-size: small;
                
             }
        
    }
    
    ul {
        padding: 1em;
    }
        
    li {
        cursor: pointer;
        transition: all 200ms ease;
        list-style-type: none;
        display: flex;
        padding: 0.3em 0.5em;
        vertical-align: middle;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        -webkit-font-smoothing: antialiased;
        font-family: 'Roboto', sans-serif;
        border-radius: 50px;
        border: 1px solid transparent;
        margin: 1em 0.2em;
        
       &:hover {
           border-radius: 50px;
           border-color: #009688;
           opacity: 0.8;
       }
        a {
        color: #fff;
      }
    }

    .active {
        border-color: #009688;
            background-color: #009688;
        
    }
}