#services {
    background: #6F686D;

    background: -moz-linear-gradient(45deg, #6F686D 0%, #CBB8A9 100%);
    background: -webkit-linear-gradient(45deg, #6F686D 0%, #CBB8A9 100%);
    background: linear-gradient(45deg, #6F686D 0%, #CBB8A9 100%);
    p {
        color:rgba(255, 255, 255, 0.7) !important;
    }

    h2 {
        color: #fff;
    }
}

.services-content {
    width: 90%;
    margin: 0 auto;
    
    @media all and(max-width: 800px){
        width: 98%;
    margin: 0 auto;
    }
}